<nav class="navbar navbar-light bg-dark ">
  <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; Doctor Web </b></a>

</nav>
<div>
  <mat-tab-group>
  
    
    <mat-tab label="Urine Output Measurements">



      <h3 appHighight class="text-center">Urine Output Measurements</h3>

      <div class="container col-md-6 mt-0">

        <table class="table table-bordered">
          
            <tr>
              <th>Flow Rate L/min</th>
              <th>Out_Quantity in ml</th>
<th>Date & Time</th>
            </tr>
          
          
            <tr *ngFor="let newdata of newdata">

              <td>{{newdata.flow_rate}}</td>
              <td>{{newdata.out_quantity}}</td>
              <td>{{newdata.createdAt | date:'dd-MM-YY,h:mm:ss a' }}</td>
            </tr>


          
        </table>


      </div>


    </mat-tab>




  </mat-tab-group>

</div>