<div >
  <mat-tab-group>
    <mat-tab label="DESCRIPTION"> </mat-tab>
    <mat-tab label="APPOINTMENT DETAILS">



      
        <h3 appHighight class="text-center">APPOINTMENT DETAILS</h3>

      
      <div class="container col-md-6 mt-0">

        <table class="table table-bordered">

          <tbody>
            <tr>

              <td>APPOINTMENT ID</td>
              <td>{{newdata.data[0].AppointmentId}}</td>



            </tr>
            <tr>

              <td>PATIENT NAME</td>
              <td>{{newdata.data[0].PatientName}}</td>


            </tr>

            <tr>

              <td>PATIENT ID</td>
              <td>{{newdata.data[0].patientID}}</td>



            </tr>
            <tr>

              <td>DOCTOR NAME </td>
              <td>{{newdata.data[0].DoctorName}}</td>



            </tr>
            <tr>

              <td>DOCTOR ID</td>
              <td>{{newdata.data[0].doctorID}}</td>



            </tr>
            <tr>

              <td>ILLNESS</td>
              <td>{{newdata.data[0].Illness}}</td>



            </tr>
            <tr>

              <td>STSRT TIME</td>
              <td>{{newdata.data[0].StartTime | date:'dd-MM-YY,h:mm:ss a'}}</td>



            </tr>
            <tr>


              <td>END TIME</td>
              <td>{{newdata.data[0].EndTime| date:'dd-MM-YY,h:mm:ss a'}}</td>



            </tr>

          </tbody>
        </table>
      </div>
      

    </mat-tab>
    <mat-tab label="ECG REPORT"></mat-tab>

  </mat-tab-group>

</div>