<div class="col-md-6">
  <mat-tab-group>
    <mat-tab label="DESCRIPTION"> </mat-tab>
    <mat-tab label="APPOINTMENT DETAILS">
      <div>
<h1>APPOINTMENT DETAILS</h1>

        <mat-card class="apdetails">
          <!-- <mat-card-header>
            <mat-card-title>Appointment Details</mat-card-title>
          </mat-card-header> -->
          <mat-card-content>
            <p>Appointment ID  :            {{newdata.data[0].AppointmentId}}<br><br>
               Patient Name    :                  {{newdata.data[0].PatientName}}<br><br>
              Patient Id :{{newdata.data[0].patientID}}<br><br>
              Doctor Name :{{newdata.data[0].DoctorName}}<br><br>
              Doctor Id :{{newdata.data[0].doctorID}}<br><br>
              Illness :{{newdata.data[0].Illness}}<br><br>
              Start Time :{{newdata.data[0].StartTime | date:'dd-MM-YY,h:mm:ss a'}}<br><br>
              End Time :{{newdata.data[0].EndTime | date:'dd-MM-YY,h:mm:ss a'}}<br><br>
            </p>


          </mat-card-content>

        </mat-card>

      </div>
    </mat-tab>
    <mat-tab label="ECG REORT"></mat-tab>
  </mat-tab-group>
</div>