/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
color:black;
}
body { margin: 0;
    font-size: larger;
     font-family: Roboto, "Helvetica Neue", sans-serif; }

    .container{
        height: 50%;
        align-content: center;
        }
        
    
    
    .table{
        margin-right: 200px;
        height: 500px;
        margin-top: 10px;
        margin-bottom: 1200px;
        width: 800px;
        /* display: none; */
        background-color:blanchedalmond!important;
        border-color:blanchedalmond;

    
        }
    
    