/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
color:black;
}
body { 
    font-size: large;
     font-family: Roboto, "Helvetica Neue", sans-serif; }

     table {
        width: 950px;
      }
      table, th, td {
        border: 1px solid;
        width: fit-content;
      }